body {
    background-size: cover;
    color: white;
    text-shadow: 3px 3px 4px black;
}

.weather {
    display: flex;
    justify-content: right;
}

.row {
    display: flex;
}

.col-sm-6 {
    display: flex;
    justify-content: space-between;
}

.form {
    justify-content: space-between;
}